.flex-container {
    /* display: flex; */
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: #273867;
    height: 700px;
    /* flex: 1; */
  }

  .random{
      background-color: whitesmoke;
      border: 4px solid white;
      height: 400px;
  }

  .quotes{
      background-color: #e5e7eb;
      border: 4px solid white;
      height: 350px;
  }

  .signup{
     border: 4px solid white;
     height: 250px;
  }

  .first{
      
  }